<h1>Edit course</h1>
<div>
  <form>
    <div>
      <input type="hidden" value="{{_id}}" />
      <label for="Name">Name</label>
      <input class="Name" name="Name" type="text" value="{{Name}}" />
    </div><div>
      <input type="hidden" value="{{_id}}" />
      <label for="StartDate">StartDate</label>
      <input class="StartDate" name="StartDate" type="date" value="{{StartDate}}" />
    </div><div>
      <input type="hidden" value="{{_id}}" />
      <label for="EndDate">EndDate</label>
      <input class="EndDate" name="EndDate" type="date" value="{{EndDate}}" />
    </div><div>
      <input type="hidden" value="{{_id}}" />
      <label for="Status">Status</label>
      <input class="Status" name="Status" type="text" value="{{Status}}" />
    </div>
    <div>
      <input type="submit" class="btn submit" value="Submit" /></div>
  </form>
</div>
<script src="/js/courses/edit.js"></script>
