<h1>courses</h1>
<a href="/courses/create">Create New</a>
<div>
  <table>
    <thead>
      <th>
          Name
          </th>,<th>
          StartDate
          </th>,<th>
          EndDate
          </th>,<th>
          Status
          </th>
    </thead>

    {{#each data}}
      <tr>
      <td>
          {{Name}}
          </td>,<td>
          {{StartDate}}
          </td>,<td>
          {{EndDate}}
          </td>,<td>
          {{Status}}
          </td>
        </td>
        <td>
          <a href="/courses/details/{{_id}}">View</a>
          <a href="/courses/edit/{{_id}}">Edit</a>
          <a href="/courses/delete/{{_id}}">Delete</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
  