<h1>Delete</h1>
<div>
  <form>
  <input type="hidden" value="{{_id}}" />
    <div>
      <label for="FirstName">FirstName</label>
      <input class="FirstName" name="FirstName" readonly type="text" value="{{FirstName}}" />
    </div><div>
      <label for="LastName">LastName</label>
      <input class="LastName" name="LastName" readonly type="text" value="{{LastName}}" />
    </div><div>
      <label for="Email">Email</label>
      <input class="Email" name="Email" readonly type="text" value="{{Email}}" />
    </div><div>
      <label for="Password">Password</label>
      <input class="Password" name="Password" readonly type="text" value="{{Password}}" />
    </div>
      <input type="submit" class="btn submit" value="Delete" />
  </form>
</div>
<script src="/js/users/delete.js"></script>
  