<h1>Delete</h1>
<div>
  <form>
  <input type="hidden" value="{{_id}}" />
    <div>
      
      <label for="FirstName">FirstName</label>
      <input class="FirstName" name="FirstName" type="text" value="{{FirstName}}" />
    </div><div>
      
      <label for="LastName">LastName</label>
      <input class="LastName" name="LastName" type="text" value="{{LastName}}" />
    </div><div>
      
      <label for="Email">Email</label>
      <input class="Email" name="Email" type="text" value="{{Email}}" />
    </div><div>
      
      <label for="Password">Password</label>
      <input class="Password" name="Password" type="text" value="{{Password}}" />
    </div>
  </form>
</div>
<script src="/js/users/edit.js"></script>
  