<h1>users</h1>
<a href="/users/create">Create New</a>
<div>
  <table>
    <thead>
      <th>
          FirstName
          </th>,<th>
          LastName
          </th>,<th>
          Email
          </th>,<th>
          Password
          </th>
    </thead>

    {{#each data}}
      <tr>
      <td>
          {{FirstName}}
          </td>,<td>
          {{LastName}}
          </td>,<td>
          {{Email}}
          </td>,<td>
          {{Password}}
          </td>
        </td>
        <td>
          <a href="/users/details/{{_id}}">View</a>
          <a href="/users/edit/{{_id}}">Edit</a>
          <a href="/users/delete/{{_id}}">Delete</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
  